Repository nulab/backlog-power-ups: changes, and which lefthook commands are due for each by the changed paths.
All: biome, sort-package-json

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      stage_fixed: true
      run: |-
        npx biome format --write {staged_files}

    sort-package-json:
      glob: package.json
      stage_fixed: true
      run: |-
        npx sort-package-json {staged_files}

format with biome
  entrypoints/board-oneline.content/style.css
  entrypoints/popup/App.vue
  entrypoints/popup/style.css
  entrypoints/total-time.content/style.css
Due: none

fix format rule
  lefthook.yml
Due: none

setup vite react
  entrypoints/popup/Popup.tsx
  entrypoints/popup/index.html
  entrypoints/popup/index.ts
  entrypoints/popup/index.tsx
  package-lock.json
  package.json
  tsconfig.json
  wxt.config.ts
Due: biome, sort-package-json

add plugins utils
  utils/plugins.ts
  utils/storage.ts
Due: biome

improve react logic
  entrypoints/popup/Popup.tsx
  entrypoints/popup/components/App.tsx
  entrypoints/popup/hooks/usePlugins.ts
  entrypoints/popup/index.tsx
Due: biome

improve popup style
  entrypoints/popup/_style.css
  entrypoints/popup/components/App.tsx
  entrypoints/popup/index.tsx
  entrypoints/popup/style.css
Due: biome

implement reload after submit
  entrypoints/popup/App.vue
  entrypoints/popup/_style.css
  entrypoints/popup/components/App.tsx
  entrypoints/popup/components/Form.tsx
  entrypoints/popup/style.css
  utils/browser-tab.ts
Due: biome

global color props
  assets/props.css
  entrypoints/popup/style.css
Due: none

refactor: absolute-date
  entrypoints/absolute-date.content/index.ts
  package-lock.json
  package.json
  utils/content-script.ts
  utils/dom.ts
  utils/storage.ts
Due: biome, sort-package-json

support suffix in matches
  utils/content-script.ts
Due: biome

refactor auto-resolution plugin
  entrypoints/auto-resolution.content/index.ts
  entrypoints/background/index.ts
  utils/dom.ts
Due: biome

remove auto imported methods
  entrypoints/absolute-date.content/index.ts
Due: biome

check plugin enable
  entrypoints/auto-resolution.content/index.ts
Due: biome

support gantt
  entrypoints/auto-resolution.content/index.ts
Due: biome

remove log
  entrypoints/auto-resolution.content/index.ts
Due: biome

refactoring board-oneline command
  entrypoints/board-oneline.content/index.module.css
  entrypoints/board-oneline.content/index.ts
  entrypoints/board-oneline.content/style.css
  package-lock.json
  package.json
  utils/dom.ts
Due: biome, sort-package-json

support user gantt
  entrypoints/auto-resolution.content/index.ts
Due: biome

remove unused method
  utils/dom.ts
Due: biome

refactor child-page plugin
  entrypoints/child-page.content/index.ts
  utils/backlog.ts
  utils/dom.ts
Due: biome

refactor copy-issue plugin
  entrypoints/copy-issue.content/index.ts
  locales/en.yaml
  locales/ja.yaml
Due: biome

fix plugin id
  entrypoints/copy-issue.content/index.ts
Due: biome

refactor copy-issue-keys-and-subjects plugin
  entrypoints/copy-issue-keys-and-subjects.content/index.ts
  locales/en.yaml
  locales/ja.yaml
Due: biome

refactor copy-wiki plugin
  entrypoints/child-page.content/index.ts
  entrypoints/copy-wiki.content/index.ts
  locales/ja.yaml
  utils/wiki.ts
Due: biome

update locale
  locales/en.yaml
Due: none

cleanup session storage
  entrypoints/copy-issue.content/index.ts
Due: biome

ignore type error
  entrypoints/copy-issue.content/index.ts
Due: biome

refactor: extend-desc plugin
  entrypoints/extend-desc.content/index.ts
Due: biome

refactor: hr plugin
  entrypoints/hr.content/index.module.css
  entrypoints/hr.content/index.ts
Due: biome

fix copy wiki body
  entrypoints/copy-wiki.content/index.ts
Due: biome

refactor jump-issue plugin
  entrypoints/jump-issue.content/index.ts
  locales/en.yaml
  locales/ja.yaml
  utils/backlog.ts
  utils/dom.ts
Due: biome

remove unused all_frames option
  entrypoints/jump-issue.content/index.ts
Due: biome

refactor old-post plugin
  entrypoints/old-post.content/index.module.css
  entrypoints/old-post.content/index.ts
  locales/en.yaml
  locales/ja.yaml
Due: biome

refactor plantuml plugin
  entrypoints/plantuml.content/index.ts
  package-lock.json
  package.json
Due: biome, sort-package-json

refactor total-time plugin
  entrypoints/total-time.content/index.module.css
  entrypoints/total-time.content/index.ts
  entrypoints/total-time.content/style.css
  locales/en.yaml
  locales/ja.yaml
Due: biome

refactor user-switcher plugin
  assets/props.css
  components/UserCombobox/index.module.css
  components/UserCombobox/index.tsx
  entrypoints/user-switcher.content/index.module.css
  entrypoints/user-switcher.content/index.ts
  entrypoints/user-switcher.content/index.tsx
  package-lock.json
  package.json
Due: biome, sort-package-json

restore user profile
  entrypoints/user-switcher.content/index.tsx
Due: biome

remove watch-list plugin
  entrypoints/watch-list.content/index.ts
Due: biome

enable biome check in pre-commit
  assets/props.css
  biome.jsonc
  components/UserCombobox/index.module.css
  components/UserCombobox/index.tsx
  entrypoints/absolute-date.content/index.ts
  entrypoints/auto-resolution.content/index.ts
  entrypoints/board-oneline.content/index.module.css
  entrypoints/hr.content/index.module.css
  entrypoints/old-post.content/index.module.css
  entrypoints/popup/components/Form.tsx
  entrypoints/popup/index.tsx
  entrypoints/popup/style.css
  entrypoints/total-time.content/index.module.css
  entrypoints/user-switcher.content/index.module.css
  lefthook.yml
  utils/power-ups.ts
Due: biome

remove log
  utils/dom.ts
Due: biome

support issue footer
  entrypoints/extend-desc.content/index.ts
Due: biome
