Repository nulab/backlog-power-ups: changes, and which lefthook commands are due for each by the changed paths.
All: biome, sort-package-json

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      stage_fixed: true
      run: |-
        npx biome check --write --unsafe {staged_files}

    sort-package-json:
      glob: package.json
      stage_fixed: true
      run: |-
        npx sort-package-json

fix(ci): push version commit along with tag after submit
  .github/workflows/submit.yaml
Due: none

fix(ci): fix artifact path mismatch, add concurrency and GitHub Release (#72)
  .github/workflows/submit.yaml
Due: none

chore: bump version to 1.0.0
  package.json
Due: biome, sort-package-json

feat: add plugin to copy issues as Cacoo cards
  locales/en.yaml
  locales/ja.yaml
  plugins/copyIssueCacooFormat/build-cacoo-json.ts
  plugins/copyIssueCacooFormat/copy-to-clipboard.ts
  plugins/copyIssueCacooFormat/extract-issue-data.ts
  plugins/copyIssueCacooFormat/index.module.css
  plugins/copyIssueCacooFormat/index.ts
  plugins/index.ts
Due: biome

fix: adjust Cacoo copy button positioning and icon padding
  plugins/copyIssueCacooFormat/index.module.css
  plugins/copyIssueCacooFormat/index.ts
Due: biome

refactor: extract injectIssueKeyButton into standalone utility
  plugins/copyIssueCacooFormat/index.module.css
  plugins/copyIssueCacooFormat/index.ts
  utils/inject-issue-key-button.css
  utils/inject-issue-key-button.ts
Due: biome

feat: inject Cacoo copy button into cell-hover-actions on issue list
  plugins/copyIssueCacooFormat/index.module.css
  plugins/copyIssueCacooFormat/index.ts
Due: biome

refactor: add main-world-bridge for isolated-to-page context communication
  entrypoints/main-world-bridge.content/index.ts
  plugins/copyIssueCacooFormat/index.ts
  utils/main-world-bridge.ts
Due: biome

refactor: unify issue button injection into generic injectIssueButton utility
  plugins/copyIssueCacooFormat/index.ts
  utils/inject-issue-key-button.ts
Due: biome

refactor: revert generic injectIssueButton, consolidate CSS into plugin
  plugins/copyIssueCacooFormat/index.module.css
  plugins/copyIssueCacooFormat/index.ts
  utils/inject-issue-key-button.css
  utils/inject-issue-key-button.ts
Due: biome

chore: update dependencies and remove unused packages
  package-lock.json
  package.json
Due: biome, sort-package-json

ci: add build/lint/format/typecheck workflow
  .github/workflows/ci.yaml
Due: none

fix: add lang attribute for popup html lint
  entrypoints/popup/index.html
Due: none

style: apply biome formatting fixes
  components/SelectField/index.module.css
  entrypoints/popup/components/Form/index.module.css
  entrypoints/popup/index.html
  plugins/copyPullSummary/index.module.css
  plugins/ganttFilterParentAndChild/index.module.css
  plugins/projectIssueFilter/index.module.css
Due: none

ci: use npm scripts for checks
  .github/workflows/ci.yaml
  package.json
Due: biome, sort-package-json

fix: correct table cell typing in hideEmptyColumn
  plugins/hideEmptyColumn/index.ts
Due: biome

chore: remove board one-line plugin
  README.md
  locales/en.yaml
  locales/ja.yaml
  plugins/boardOneline/index.module.css
  plugins/boardOneline/index.ts
  plugins/index.ts
Due: biome

chore: upgrade typescript to 7, wxt to 0.21, @tsconfig/vite-react to 8
  package-lock.json
  package.json
  plugins/expandDiffFileLink/index.ts
  plugins/filePermalink.ts
  plugins/ganttFilterParentAndChild/index.ts
  plugins/hideDocumentToolbar/index.ts
  plugins/hr/index.ts
  plugins/oldPost/index.ts
  plugins/openInDialog/index.tsx
  plugins/plantuml.ts
  plugins/projectIssueFilter/index.tsx
  plugins/totalTime/index.ts
  plugins/zenMode/index.ts
  utils/backlog.ts
  utils/browser-tab.ts
  utils/dom.ts
Due: biome, sort-package-json

feat: add board bulk status plugin for changing multiple card statuses
  README.md
  locales/en.yaml
  locales/ja.yaml
  plugins/boardBulkStatus/index.module.css
  plugins/boardBulkStatus/index.ts
  plugins/boardBulkStatus/update-status.ts
  plugins/index.ts
Due: biome

feat(boardBulkStatus): select multiple board cards and drag them together
  README.md
  locales/en.yaml
  locales/ja.yaml
  plugins/boardBulkStatus/index.module.css
  plugins/boardBulkStatus/index.ts
  plugins/boardBulkStatus/react-dnd.ts
  plugins/boardBulkStatus/update-status.ts
Due: biome

fix(boardBulkStatus): detect the drop from the DOM instead of mouse events
  plugins/boardBulkStatus/index.ts
Due: biome

fix(boardBulkStatus): reach onDragEnd from the page world via an injected bridge
  plugins/boardBulkStatus/bridge.ts
  plugins/boardBulkStatus/index.ts
  plugins/boardBulkStatus/react-dnd.ts
Due: biome

fix(boardBulkStatus): load the page-world bridge as an extension file
  entrypoints/board-bulk-status-bridge.ts
  plugins/boardBulkStatus/bridge.ts
  plugins/boardBulkStatus/index.ts
  plugins/boardBulkStatus/protocol.ts
  wxt.config.ts
Due: biome

feat(translateUi): translate Backlog's own UI text into Vietnamese
  CONTRIBUTING.md
  README.md
  helpers/plugin-manager/storage.ts
  helpers/plugin/context.ts
  helpers/plugin/define.ts
  locales/en.yaml
  locales/ja.yaml
  package.json
  plugins/autoResolution.ts
  plugins/index.ts
  plugins/translateUi/define.ts
  plugins/translateUi/dictionaries/vi.json
  plugins/translateUi/dictionary.generated.json
  plugins/translateUi/index.ts
  plugins/translateUi/original-text.ts
  plugins/translateUi/translate-dom.ts
  scripts/build-ui-dictionary.mjs
Due: biome, sort-package-json

refactor(translateUi): write the dictionary build script in TypeScript
  package.json
  plugins/translateUi/translate-dom.ts
  scripts/build-ui-dictionary.ts
Due: biome, sort-package-json
