Repository nulab/backlog-power-ups: changes, and which lefthook commands are due for each by the changed paths.
All: biome, sort-package-json

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      stage_fixed: true
      run: |-
        npx biome check --write --unsafe {staged_files}

    sort-package-json:
      glob: package.json
      stage_fixed: true
      run: |-
        npx sort-package-json

implement helpers for client router
  entrypoints/popup/components/Form.tsx
  entrypoints/popup/hooks/usePlugins.ts
  entrypoints/register-plugins.content/index.ts
  helpers/dom/async-query-selector.ts
  helpers/dom/node-matcher.ts
  helpers/dom/observe-query-selector.ts
  helpers/dom/types.ts
  helpers/plugin-manager/index.ts
  helpers/plugin-manager/storage.ts
  helpers/plugin/context.ts
  helpers/plugin/define.ts
  helpers/plugin/list.ts
  helpers/plugin/types.ts
  package-lock.json
  package.json
  utils/define-plugin.ts
Due: biome, sort-package-json

migrate content script to plugin
  entrypoints/absolute-date.content/index.ts
  entrypoints/child-page.content/index.ts
  entrypoints/copy-issue.content/index.ts
  entrypoints/extend-desc.content/index.ts
  entrypoints/popup/components/Form.tsx
  entrypoints/watch-list.content/index.ts
  helpers/dom/observe-query-selector.ts
  locales/en.yaml
  locales/ja.yaml
  plugins/absolute-date.ts
  plugins/auto-resolution.ts
  plugins/board-oneline/index.module.css
  plugins/board-oneline/index.ts
  plugins/child-page.ts
  plugins/copy-issue-keys-and-subjects.ts
  plugins/copy-wiki.ts
  plugins/extend-desc.ts
  plugins/hr/index.module.css
  plugins/hr/index.ts
  plugins/index.ts
  plugins/jump-issue.ts
  plugins/old-post/index.module.css
  plugins/old-post/index.ts
  plugins/plantuml.ts
  plugins/total-time/index.module.css
  plugins/total-time/index.ts
  plugins/user-switcher/index.module.css
  plugins/user-switcher/index.tsx
  utils/backlog.ts
  utils/dom.ts
  utils/plugins.ts
  utils/storage.ts
  utils/wiki.ts
Due: biome

remove unused files
  utils/backlog.ts
  utils/content-script.ts
  utils/dom.ts
  utils/helpers.ts
  utils/storage.ts
  utils/wiki.ts
Due: biome

fix name wording
  entrypoints/popup/components/App.tsx
  helpers/plugin/define.ts
  helpers/plugin/list.ts
  locales/en.yaml
  locales/ja.yaml
  plugins/absolute-date.ts
  plugins/auto-resolution.ts
  plugins/board-oneline/index.ts
  plugins/child-page.ts
  plugins/copy-issue-keys-and-subjects.ts
  plugins/copy-wiki.ts
  plugins/extend-desc.ts
  plugins/hr/index.ts
  plugins/index.ts
  plugins/jump-issue.ts
  plugins/old-post/index.ts
  plugins/plantuml.ts
  plugins/total-time/index.ts
Due: biome

refactor locale wordings
  entrypoints/popup/components/App.tsx
  helpers/plugin/list.ts
  locales/en.yaml
  locales/ja.yaml
  plugins/copy-issue-keys-and-subjects.ts
  plugins/copy-wiki.ts
  plugins/jump-issue.ts
  plugins/old-post/index.ts
  plugins/total-time/index.ts
  plugins/user-switcher/index.tsx
Due: biome

fix warning
  plugins/copy-issue-keys-and-subjects.ts
  plugins/plantuml.ts
Due: biome

use ctx addEventListeners and so on
  helpers/plugin-manager/index.ts
  helpers/plugin/context.ts
  helpers/plugin/define.ts
Due: biome

plugin capitalize
  plugins/absoluteDate.ts
  plugins/autoResolution.ts
  plugins/boardOneline/index.module.css
  plugins/boardOneline/index.ts
  plugins/childPage.ts
  plugins/copyIssueKeysAndSubjects.ts
  plugins/copyWiki.ts
  plugins/extendDesc.ts
  plugins/index.ts
  plugins/jumpIssue.ts
  plugins/oldPost/index.module.css
  plugins/oldPost/index.ts
  plugins/totalTime/index.module.css
  plugins/totalTime/index.ts
  plugins/userSwitcher/index.module.css
  plugins/userSwitcher/index.tsx
Due: biome

add hideDocumentToolbar and zenMode plugins
  helpers/plugin/list.ts
  helpers/plugin/types.ts
  locales/en.yaml
  locales/ja.yaml
  plugins/hideDocumentToolbar/index.module.css
  plugins/hideDocumentToolbar/index.ts
  plugins/index.ts
  plugins/zenMode/index.module.css
  plugins/zenMode/index.ts
Due: biome

define every groups
  assets/props.css
  entrypoints/popup/components/App.tsx
  entrypoints/popup/components/App/index.module.css
  entrypoints/popup/components/App/index.tsx
  entrypoints/popup/components/Disclosure/index.module.css
  entrypoints/popup/components/Disclosure/index.tsx
  entrypoints/popup/components/Form/index.module.css
  entrypoints/popup/components/Form/index.tsx
  entrypoints/popup/index.tsx
  entrypoints/popup/style.css
  helpers/plugin-manager/storage.ts
  helpers/plugin/list.ts
  helpers/plugin/types.ts
  locales/en.yaml
  locales/ja.yaml
  wxt.config.ts
Due: biome

add logger
  entrypoints/register-plugins.content/index.ts
  helpers/plugin-manager/index.ts
  helpers/plugin/context.ts
  package-lock.json
  package.json
  plugins/extendDesc.ts
  plugins/gitSmallContainer/index.module.css
  plugins/jumpIssue.ts
  plugins/totalTime/index.ts
  utils/logger.ts
Due: biome, sort-package-json

support allFrames option
  entrypoints/register-plugins.content/index.ts
  helpers/plugin-manager/index.ts
  helpers/plugin/define.ts
  plugins/autoResolution.ts
  plugins/extendDesc.ts
  utils/dom.ts
Due: biome

fix autoResolution auto focus
  plugins/autoResolution.ts
Due: biome

add sidebarAutoClose plugin
  locales/en.yaml
  locales/ja.yaml
  plugins/index.ts
  plugins/sidebarAutoClose.ts
Due: biome

add favicon plugin
  locales/en.yaml
  locales/ja.yaml
  plugins/favicon.ts
  plugins/index.ts
Due: biome

fix checkbox shrinking
  entrypoints/popup/components/Form/index.module.css
Due: none

add quickSearch plugin
  locales/en.yaml
  locales/ja.yaml
  plugins/index.ts
  plugins/jumpIssue.ts
  plugins/quickSearch.ts
Due: biome

improve ux
  assets/props.css
  entrypoints/popup/components/Disclosure/index.module.css
  entrypoints/popup/components/Disclosure/index.tsx
Due: biome

add expandDiffFileLink plugin
  locales/en.yaml
  locales/ja.yaml
  plugins/expandDiffFileLink/index.module.css
  plugins/expandDiffFileLink/index.ts
  plugins/index.ts
Due: biome

add searchKeyboard plugin
  locales/en.yaml
  locales/ja.yaml
  plugins/index.ts
  plugins/searchKeyboard.ts
Due: biome

update popup ui
  assets/props.css
  entrypoints/popup/components/App/index.module.css
  entrypoints/popup/components/App/index.tsx
  entrypoints/popup/components/Disclosure/index.module.css
  entrypoints/popup/components/Form/index.module.css
Due: biome

add ganttFilterParentAndChild plugin
  locales/en.yaml
  locales/ja.yaml
  package-lock.json
  package.json
  plugins/ganttFilterParentAndChild/index.module.css
  plugins/ganttFilterParentAndChild/index.ts
  plugins/index.ts
Due: biome, sort-package-json

add openInDialog Plugin
  assets/props.css
  components/IframeDialog/index.module.css
  components/IframeDialog/index.tsx
  locales/en.yaml
  locales/ja.yaml
  plugins/expandDiffFileLink/index.module.css
  plugins/ganttFilterParentAndChild/index.module.css
  plugins/hideDocumentToolbar/index.module.css
  plugins/index.ts
  plugins/openInDialog/index.module.css
  plugins/openInDialog/index.tsx
  plugins/totalTime/index.module.css
  plugins/totalTime/index.ts
  plugins/userSwitcher/index.tsx
  plugins/zenMode/index.module.css
  utils/renderReactComponent.ts
Due: biome

add hideEmptyColumn plugin
  helpers/dom/node-matcher.ts
  helpers/dom/observe-query-selector.ts
  locales/en.yaml
  locales/ja.yaml
  plugins/hideEmptyColumn/index.ts
  plugins/index.ts
  utils/helpers.ts
Due: biome

fix totalTime plugin
  plugins/totalTime/index.ts
Due: biome

improve popup ui
  entrypoints/popup/components/Disclosure/index.module.css
  entrypoints/popup/components/Disclosure/index.tsx
  entrypoints/popup/components/Form/index.tsx
Due: biome

add projectIssueFilter plugin
  components/SelectField/index.module.css
  components/SelectField/index.ts
  entrypoints/register-plugins.content/index.ts
  helpers/dom/observe-query-selector.ts
  helpers/plugin-manager/index.ts
  helpers/plugin/context.ts
  helpers/plugin/define.ts
  locales/en.yaml
  locales/ja.yaml
  plugins/childPage.ts
  plugins/copyWiki.ts
  plugins/ganttFilterParentAndChild/index.ts
  plugins/index.ts
  plugins/oldPost/index.ts
  plugins/projectIssueFilter/index.module.css
  plugins/projectIssueFilter/index.tsx
  utils/dom.ts
Due: biome

improve logging
  helpers/plugin-manager/index.ts
  helpers/plugin/context.ts
  utils/logger.ts
Due: biome

cancel show dialog when mouseleave
  plugins/openInDialog/index.tsx
Due: biome

add git plugins (copyRawFile and filePermalink)
  locales/en.yaml
  locales/ja.yaml
  plugins/copyRawFile.ts
  plugins/filePermalink.ts
  plugins/index.ts
  tsconfig.json
Due: biome

add copyPullSummary plugin
  locales/en.yaml
  locales/ja.yaml
  plugins/copyPullSummary/index.module.css
  plugins/copyPullSummary/index.ts
  plugins/index.ts
Due: biome

chore(ci): add submit workflow
  .github/workflows/submit.yaml
Due: none

docs: add contributing document
  CONTRIBUTING.md
Due: none

docs: fix heading
  CONTRIBUTING.md
Due: none

docs: fix code highlight
  CONTRIBUTING.md
Due: none

fix: remove total time when invalidate
  plugins/totalTime/index.ts
Due: biome

fix: remove expand description field in side panel
  plugins/extendDesc.ts
Due: biome

fix: add unit of px
  plugins/openInDialog/index.module.css
Due: none

fix: toggle gantt section
  plugins/ganttFilterParentAndChild/index.ts
Due: biome

chore: get tag from all tags
  .github/workflows/submit.yaml
Due: none
